/* Add a viewport meta tag in the head of your HTML to ensure proper scaling on mobile devices */
/* <meta name="viewport" content="width=device-width, initial-scale=1.0"> */

/* Define common styles for all screen sizes */
html {
  scroll-behavior: smooth;
  background-color: #91B3BC;
  color: #dbd7ca;
  font-family: 'Space Mono', monospace;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #C5D6FF;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #C5D6FF;
}

html::-webkit-scrollbar-track {
  background-color: #5555;
}

html::-webkit-scrollbar-track:hover {
  background-color: #5555;
}

/* CSS for the custom font */
@font-face {
  font-family: 'SpaceMono';
  src: url("SpaceMono-Bold.ttf");
}

i{
  color:#cfc5c5;
  font-size: 1.5rem;
}

i:hover{
  animation: bounce 1s;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-8px);
  }
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  padding: 0 1rem;
}

/* Global link styles */
a:hover {
  color: #cfc8b0;
}

/* Styling for the menu links */
.link {
  text-decoration: none;
  color: #F1EDE1;
}

/* Navbar container styles */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #91B3BC;
  z-index: 100;
}

/* Styles for the header content */
#head {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 40rem;
  background-color: #91B3BC;
}

#head a:hover {
  transform: translateY(-5px);
}

/* Styles for the menu items */
.menu {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

/* Logo styles */
.rat {
  object-fit: cover;
  height: 2rem;
  width: 2rem;
  margin-top: 2rem;
  margin-left: -3.5rem;
}

.frontpage{
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}

.start {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.hi {
  margin-top: 4rem;
  text-align: left;
  font-size: 3rem;
}

.story {
  text-align: left;
  font-size: 1.5rem;
}

.me {
  margin-top: 4rem;
  margin-left: 8rem;
  border-radius: 50%;
  border: 0.3rem solid #b3d6cd;
}

div {
  max-width: 60%;
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  div {
    max-width: 60%;
  }

  #head {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 23rem;
    background-color: #91B3BC;
  }

  .rat {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    margin-top: 2rem;
    margin-left: 0rem;
  }


  .frontpage{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
  }
  
  .start {
    display: flex;
    flex-direction: column;
  }

  .me{
    margin-left: 8rem;
    margin-top: 5rem;
    width:15rem;
  }

  .hi {
    margin-top: 5rem;
    text-align: left;
    font-size: 3rem;
  }
  
  .story {
    text-align: left;
    font-size: 1.5rem;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  div {
    max-width: 80%;
  }

  
  #head {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 23rem;
    background-color: #91B3BC;
  }

  .rat {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    margin-top: 2rem;
    margin-left: -.5rem;
  }


  .frontpage{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
  }
  
  .start {
    display: flex;
    flex-direction: column;
  }

  .me{
    margin-left: 8rem;
    margin-top: 4rem;
    width:15rem;
    height: auto;
  }
  .hi {
    margin-top: 5rem;
    text-align: left;
    font-size: 3rem;
  }
  
  .story {
    text-align: left;
    font-size: 1.5rem;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
/* @media (min-width: 481px) and (max-width: 767px) {
  
}

/* Media Query for Mobile Devices */
 @media (max-width: 480px) {

  .wrapper{
    display: flex;
    flex-direction: column;
  }

div {
    max-width: 90%;
  }
  

  .frontpage{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .start {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    transform:translateY(100%);
  }

  .me{
    max-width: 12rem;
    margin: auto;
  }

  .sam{
    transform:translateY(-80%);

  }

  .start {
    max-width: 90%;
  }

  .hi {
    text-align: center;
    font-size: 2rem;
  }

  .story {
    text-align: center;
    font-size: 1rem;
  }

  #about{
    margin-top: 2rem;
  }
} 