body {
  margin: 0px;
}

.landing {
  display: flex;
  background: linear-gradient(#2CE8B3, #229b83, #1b5f49);
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 70px;
  font-family: "century gothic";
  padding: 30px;
}

button {
  width: 400px;
  height: 100px;
  background: #20b18d;
  border: transparent;
  margin-bottom: 30px;
}

h2 {
  color: white;
  font-size: 40px;
  font-family: "century gothic";
  padding: even;
}

.link {
  text-decoration: none;
}